@use '../../sassStyles/globals';
@use '../../sassStyles/abstracts/variables';

.menu-drawer-mobile {
  z-index: 10;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: globals.$bg-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .user-profile{
    margin-right: 0px;
  }

  .user-icon-mobile{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
  }


  .welcome-user{
    text-align: right;
  }

  .logout-drawer{
    font-weight: 400;
    color: variables.$text-dark;
    font-family: variables.$font-family-primary;
    font-weight: 600;
    justify-content: end;
    font-size: 12px;
    margin-top: 24em;
  }

  .logout-drawer::after{
    content: "";
    position: absolute;
    background-color: variables.$bg-dark;
    height: 1px;
    bottom: 60px;
    left: 10px;
    right: 10px;
  }
  

  .close-menu {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: globals.$text-light;
    font-size: 1.5rem;
  }

  &__container {
    padding: 1rem;
  }
  
  &__header {
    background-color: globals.$primary-color;
    height: 175px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-shrink: 0;
  }

  &__body {
    height: 100%;
    text-align: right;
    hr {
      margin: 1rem 0;
    }
  }

  &__footer {
    height: 60px;
    font-size: globals.$font-size-5;
    display: flex;
    justify-content: flex-end;

    a {
      color: globals.$text-dark;
    }

    .container__social-media {
      gap: 1.5rem;
    }
  }

}
