@use '/src/sassStyles/globals';

.formCreateUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createUserContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CreateUserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: globals.$bg-gray;
    height: 100vh;
}

.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}



