@use '/src/sassStyles/globals';

.rental-products {

  section {
    margin-block: globals.$m-5;
  }

  .section-title {
    color: globals.$text-gray-dark;
    margin-bottom: globals.$m-3;
  }

  p {
    color: globals.$text-paragraph;
    font-size: globals.$font-size-2;
    font-weight: globals.$font-weight-md;
  }

  .section-divider {
    border: none;
    height: 1px;
    background-color: globals.$primary-color;
    margin-bottom: globals.$m-2;
  }

  .product__ammenities__items {
    margin-block: globals.$m-4;
    display: grid;
    gap: 1rem 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;

    .item {
      margin-block: 1rem;
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;

      h4 {
        color: globals.$text-paragraph;
        font-size: globals.$font-size-2;
        font-weight: globals.$font-weight-md;
        display: inline-block;
      }

      .ammenity-icon {
        color: globals.$primary-color;
        font-size: globals.$font-size-2;
      }
    }
  }

  
} 

@media screen and (max-width: globals.$bp-tablet) {
  .rental-products {
    .product__ammenities__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: globals.$bp-mobile) {
  .rental-products {
    .product__ammenities__items {
      grid-template-columns: 1fr;
    }
  }
}