@use '/src/sassStyles/globals';

.main-form__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  min-width: 300px;
  max-width: 400px;
  height: 100%;
  justify-content: space-between;
  position: relative;

  label {
    display: block;
    color: globals.$text-dark;
    font-weight: globals.$font-weight-lg;
    padding-bottom: globals.$m-1;
    font-size: globals.$font-size-1;
  }

  input, select, textarea {
      border-radius: globals.$border-radius-sm;
      border: none;
      padding: globals.$p-3 globals.$p-4;
      color: globals.$text-dark;
      font-size: globals.$font-size-1;
      font-family: inherit;
      outline: none;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
      width: 100%;
  }

  select {
    height: 38px;
  }

  textarea {
    resize: none;
  }


  button {
    display: block;
    margin: globals.$m-5 auto 0 auto;
  }

  h1 {
    margin-bottom: globals.$m-4;
  }

  p {
    margin-top: globals.$m-3;
    color: globals.$text-dark;
    font-weight: globals.$font-weight-md;
    text-align: center;
  }

  a {
    padding: 0;
    padding-left: globals.$p-1;
  }


  .small-link {
    font-size: globals.$font-size-1;
    color: globals.$text-link;
  }

  .form-control {
    margin-block: globals.$m-3;
    width: 100%;
    position: relative;
  }

  .input-error-msg {
    color: globals.$input-error-msg;
    font-weight: globals.$font-weight-md;
    position: absolute;
    right: 0;
    bottom: -18px;
  }

  .group__name-lastName {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .password-wrapper {
    position: relative;
  }

  .show-password-icon {
    position: absolute;
    right: 10px;
    bottom: 50%;
    color: globals.$text-gray-light;
    transform: translateY(50%);
  }

  .input-error-msg.error-form {
    position: absolute;
    width: 100%;
    bottom: 70px;
    text-align: center;
  
  }
}

@media screen and (max-width: globals.$bp-tablet) {
  .main-form__container {
    button {
      width: 100%;
    }

    .group__name-lastName {
      display: block;
    }

  }
}