@use '/src/sassStyles/globals';

.label-container{
    width: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: globals.$text-dark;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: globals.$font-size-1;
}