@use '/src/sassStyles/globals';

.title-container {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: globals.$primary-color;
    }
}