// Color
$primary-color: rgba(29, 190, 180, 1);
$bg-dark: rgba(25, 27, 29, 1);
$bg-medium: rgba(49, 54, 63, 1);
$bg-light: rgba(223, 228, 234, 1);
$bg-white: #fff;
$bg-gray: rgb(247, 247, 247);
$bg-search: rgba(84, 87, 118, 1);

$text-dark: rgba(25, 27, 29, 1);
$text-gray: rgba(56, 59, 88, 1);
$text-medium: rgba(223, 228, 234, 1);
$text-light: #fff;
$text-placeholder: rgba(127, 127, 127, 1);
$text-link: rgba(66, 133, 244, 1);
$text-location: rgba(84, 87, 118, 1);


// Text
$font-family-primary: 'Roboto', sans-serif;

$font-weight-sm: 400;
$font-weight-md: 500;
$font-weight-lg: 700;

$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 20px;
$font-size-5: 24px;
$font-size-6: 36px;

// Radius
$border-radius-sm: 5px;
$border-radius-lg: 10px;

// Margins
$m-0: 0;
$m-1: 0.25rem;
$m-2: 0.5rem;
$m-3: 0.75rem;
$m-4: 1rem;
$m-5: 2rem;
$m-6: 3rem;
$m-7: 5rem;

// Paddings
$p-0: 0;
$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 0.75rem;
$p-4: 1rem;
$p-5: 2rem;
$p-6: 3rem;
$p-7: 5rem;

// Breakpoints (se pueden usar otros no definidos si la UI lo necesita)
$bp-laptop: 1200px;
$bp-tablet: 768px;
$bp-menu-drawer: 600px;
$bp-mobile: 480px;

// MISC
$header-height: 80px;
$footer-height: 60px;