// Color
$primary-color: rgba(240, 87, 45, 1);
$text-dark: rgba(25, 27, 29, 1);
$text-light: rgba(49, 54, 63, 1);
$bg-light: rgba(223, 228, 234, 1);

// Text
$font-family-primary: 'Roboto', sans-serif;

$font-weight-sm: 400;
$font-weight-md: 500;
$font-weight-lg: 700;

$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 20px;
$font-size-5: 24px;

// Radius
$border-radius-sm: 5px;
$border-radius-lg: 10px;