@use '../abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
	background: #fff;
	color: #000;
}

body, #root, .app {
  min-height: 100vh;
}


.app {
  display: flex;
  flex-direction: column;
}

section {
  padding-top: variables.$p-3;
  padding-bottom: variables.$p-5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button, a {
  display: inline-block;
  border: none;
  border-radius: variables.$border-radius-sm;
  padding: 0.5rem 1rem;
  font-size: variables.$font-size-3;
  font-weight: variables.$font-weight-lg;
  cursor: pointer;
}

.button-primary, .nav-link {
  padding: variables.$p-2 variables.$p-4;
  border: 2px solid variables.$primary-color;
  min-width: 170px;
  text-align: center;

  &--empty {
    background-color: transparent;
    color: variables.$primary-color;
  }
  
  &--full {
    background-color: variables.$primary-color;
    color: variables.$bg-white;
  }
}

.nav-link-menu {
  border: none;
  padding: 0;
}

.button-logout {
  padding: variables.$m-2 variables.$m-5;
  border: 2px solid variables.$primary-color;

  &--empty {
    background-color: transparent;
    color: variables.$primary-color;
  }
  
  &--full {
    background-color: variables.$primary-color;
    color: variables.$bg-white;
  }
}


.button-ghost {
  padding: 0;
  background-color: transparent;
}

input {
  padding: variables.$p-2;
  border-radius: variables.$border-radius-sm;
  border: variables.$bg-white;
  background-color: variables.$bg-white;
  width: 100%;
}

input::-ms-reveal, input::-ms-clear {
  display: none;
}

.input-error {
  background-color: variables.$input-error-bg;
  border: 1px solid variables.$input-error-border;
}

.input-error-msg {
  color: variables.$input-error-msg;
  font-weight: variables.$font-weight-md;
  position: absolute;
  right: 0;
  bottom: -18px;
}

.input-error-msg.error-form {
  position: absolute;
  width: 100%;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  text-align: center;
  transform: translateY(30px);

}

input::placeholder {
  color: variables.$text-placeholder;
}

.main-form__title {
  color: variables.$primary-color;
  font-size: variables.$font-size-5;
  text-align: center;
}


// CONTAINERS
.container-page {
  flex-grow: 1;
  flex-basis: 100%;
}

.container-main {
  width: 100%;
  max-width: 1800px;
  padding: 0 3%;
  margin: 0 auto;
}

.container__social-media {
  display: flex;
  gap: 0.5rem;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

// TEXT
.text-dark {
  color: variables.$text-dark;
}

.text-gray {
  color: variables.$text-gray;
}

.text-gray-light {
  color: variables.$text-gray-light;
}

.section-header {
  margin-bottom: variables.$m-3;
}

// MISC
.social-media-icon {
  font-size: variables.$font-size-5;
}

.hidden {
  display: none;
}

li:empty {
  display: none;
}

// BACKGROUND
.bg-light {
  background-color: variables.$bg-gray;
}


@media screen and (max-width: variables.$bp-mobile) {
  .container-main {
    padding: 0 2%;
  }
}