@use '../abstracts/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}

section {
  padding-top: variables.$p-3;
  padding-bottom: variables.$p-5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  border-radius: variables.$border-radius-sm;
  padding: 0.5rem 1rem;
  font-size: variables.$font-size-3;
  font-weight: variables.$font-weight-lg;
  cursor: pointer;
}

.button-primary {
  padding: variables.$m-2 variables.$m-5;
  border: 2px solid variables.$primary-color;

  &--empty {
    background-color: transparent;
    color: variables.$primary-color;
  }
  
  &--full {
    background-color: variables.$primary-color;
    color: variables.$bg-white;
  }
}

.button-logout {
  padding: variables.$m-2 variables.$m-5;
  border: 2px solid variables.$primary-color;

  &--empty {
    background-color: transparent;
    color: variables.$primary-color;
  }
  
  &--full {
    background-color: variables.$primary-color;
    color: variables.$bg-white;
  }
}


.button-ghost {
  padding: 0;
  background-color: transparent;
}

input {
  padding: variables.$p-2;
  border-radius: variables.$border-radius-sm;
  border: variables.$bg-white;
  background-color: variables.$bg-white;
  width: 100%;
}

.input::placeholder {
  color: variables.$text-placeholder;
}

// CONTAINERS
.container-page {
  margin-top: variables.$header-height;
}

.container-main {
  width: 100%;
  max-width: 1800px;
  padding: 0 3%;
  margin: 0 auto;
}

.container__social-media {
  display: flex;
  gap: 2rem;
}

// TEXT
.text-dark {
  color: variables.$text-dark;
}

.text-gray {
  color: variables.$text-gray;
}

.section-header {
  margin-bottom: variables.$m-3;
}

// MISC
.hidden {
  display: none;
}

@media screen and (max-width: variables.$bp-mobile) {
  .container-main {
    padding: 0 2%;
  }
}