@use '../abstracts/variables';

html {
  font-family: variables.$font-family-primary;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: variables.$font-family-primary;
  color: variables.$text-light;
}

h1 {
  font-weight: variables.$font-weight-lg;
  font-size: variables.$font-size-5;
}

h2 {
  font-weight: variables.$font-weight-lg;
  font-size: variables.$font-size-4;
}

h3 {
  font-weight: variables.$font-weight-lg;
  font-size: variables.$font-size-3;
}

h4 {
  font-weight: variables.$font-weight-lg;
  font-size: variables.$font-size-2;
}

p {
  font-weight: variables.$font-weight-sm;
  font-size: variables.$font-size-1;
}

input {
  font-weight: variables.$font-weight-md;
  font-size: variables.$font-size-2;
}