@use '/src/sassStyles/globals';

section.carrousel-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: rgba(globals.$bg-search, .7);
  display: flex;
  justify-content: center;
  align-items: center;

  .carrousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carrousel {
    border-radius: globals.$border-radius-lg;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    .close-carrousel {
      color: globals.$bg-white;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1000;
      cursor: pointer;
    }
  }

    img {
      width: 100%;
      height: 100%;
      max-height: 400px;
      object-fit: cover;
    }

    .swiper-pagination {
      background-color: globals.$bg-white;
      text-align: center;
      bottom: 0;
      padding-top: 10px;
    }

    .swiper-main {
      height: 80%;
      width: 700px;
    }

    .swiper-thumbs {
      height: 20%;
    }

    .swiper-slide {
      height: auto;
    }

    .wrapper-thumbs {
      background-color: globals.$bg-white;
      padding-top: globals.$p-3;
      padding-bottom: 10px;

      .swiper {
        width: 680px;



        img {
          border-radius: globals.$border-radius-lg;
          height: 100px;
        }
      }
    }


}