@use '/src/sassStyles/globals';

.card-rental {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 700px;
    color: globals.$text-dark;
    border-radius: globals.$border-radius-lg;

    &__img {
        max-width: 40%;
        border-radius: globals.$border-radius-lg;
        overflow: hidden;

        img {
            object-fit: cover;
        }
    }

    &__info {
        padding: 1rem;
    }

}

