@use '/src/sassStyles/globals';

footer {
  background-color: globals.$primary-color;
  width: 100%;
  height: 60px;
  font-size: globals.$font-size-5;
  color: globals.$text-light;
  z-index: 99999;
  
  .container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .footer__copyright {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .social-media-icon:hover{
    color: globals.$bg-medium;
  }
}

@media screen and (max-width: globals.$bp-mobile) {
  footer {
    .container__social-media {
      display: none;
    }
  }
}