@use '/src/sassStyles/globals';

footer {
  position: fixed;
  bottom: 0;
  background-color: globals.$primary-color;
  width: 100%;
  height: 60px;
  
  .container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .container__social-media {
    display: flex;
    gap: 2rem;
  }

  .footer__copyright {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}