@use '/src/sassStyles/globals';

header {
  width: 100%;
  background-color: globals.$bg-white;
  height: globals.$header-height;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-logo {
    width: 100px;
  }
  
    nav {
      margin: globals.$m-3 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .account-actions {
      display: flex;
      gap: 10px;

      button {
        display: inline-block;
      }
    }

    .button-primary:hover{
      background-color: globals.$text-medium;
      color: globals.$primary-color;
    }

    .welcome-user{
      font-size: 20px;
      color: #191B1D;
      margin-left: auto;
      margin-right: 10px;
    }

    .main-menu__hamburger {
      background-color: transparent;
      display: none;
      padding: 0;
      text-align: right;
      font-size: 1.5rem;
    }

    // .button-logout{
    //   background-color: #F0572D;
    //   color: white;
    // }

}

@media screen and (max-width: globals.$bp-menu-drawer) {
  header {
    .account-actions {
      display: none;
    }

    .main-menu__hamburger {
      display: block;
    }

    .welcome-user{
      display: none;
    }

    .button-logout{
      display: none;
    }

    .user-profile {
      display: none;
    }
  }
}