@use '/src/sassStyles/globals';

header {
  width: 100%;
  background-color: globals.$bg-white;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  
    nav {
      margin: globals.$m-3 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .account-actions {
      display: flex;
      gap: 10px;
    }

    .button-primary{
      cursor: pointer;
      background-color: white;
      color: #F0572D;
      transition: 0.2s;
    }

    .button-primary:hover{
      background-color: #F0572D;
      color: white;
    }

    .welcome-user{
      font-size: 24px;
      color: #191B1D;
    }

    .main-menu__hamburger {
      background-color: transparent;
      display: none;
      padding-right: 0;
    }
}


@media screen and (max-width: globals.$bp-mobile) {
  header {
    .account-actions {
      display: none;
    }

    .main-menu__hamburger {
      display: block;
    }
  }
}