@use '/src/sassStyles/globals';

header {
  width: 100%;
  background-color: globals.$bg-white;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  
    .container-header {
      margin: globals.$m-3 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .account-actions {
      display: flex;
      gap: 10px;
    }

}
