@use '/src/sassStyles/globals';

nav {
  ul{
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 1rem;
  }
}

@media screen and (max-width: globals.$bp-menu-drawer) {
  nav {
    display: none;
  }
}

