.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regular-style{
    width: 400px;
    height: 35px;
    border-radius: 25px;
    border: none;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    color: #383B58;
    font-size: 14px;
    outline: none;
}



.regular-style::placeholder{
    font-size: 14px;
    color: gray;
    opacity: 0.8;
}

.input-error{
    width: 400px;
    height: 35px;
    border-radius: 25px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    border: 1px solid red;
    font-size: 14px;
    outline: none;
    color: red;
}