@use '/src/sassStyles/globals';

.container-categories {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.card-category {
    border: 1px solid #DFE4EA;
    box-shadow: 0px 4px 3px 0px globals.$bg-light;
    -webkit-box-shadow: 0px 4px 3px 0px globals.$bg-light;
    -moz-box-shadow: 0px 4px 3px 0px globals.$bg-light;
    border-radius: 10px;
    background-color: (223, 228, 234, 1);
    height: 250px;
    flex-basis: 300px;
    flex-grow: 1;

  h3 {
    margin: 2%;
    color:globals.$text-dark;
    font-size: globals.$font-size-3;
    font-weight: globals.$font-weight-lg;
  }

  p {
    margin: 2%;
    color: globals.$text-dark;
    font-weight: globals.$font-weight-md;
  }

  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center center;
    border-top-right-radius: globals.$border-radius-lg;
    border-top-left-radius: globals.$border-radius-lg;
  }
}