@use '/src/sassStyles/globals';

.grid-rentals {
  background-color: globals.$bg-light;

  h2 {
    margin-bottom: globals.$m-3;
  }
  
  &__grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }


}