@use '/src/sassStyles/globals';

.home-search {
  text-align: center;
  background-color: globals.$text-dark;
  padding-top: calc(globals.$m-3 + 80px); // +80 porque el header tiene 80px
  padding-bottom: globals.$m-5;


  h1 {
    font-size: globals.$font-size-6;
    padding-bottom: globals.$m-4;
  }

  .search-by-location-date {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}